<input
  class="border border-gray-400 p-2 rounded-xl"
  [(ngModel)]="inputValue"
  (ngModelChange)="onInputChange()"
  type="text"
  placeholder="Search for ingredient..."
/>
<section class="flex justify-around">
  <section>
    <!-- iterate over ingredients from API res. -->
    <!-- render them as ingridient component -->
    <div class="mb-10" *ngFor="let ingredient of ingredients">
      <app-ingridient
        [ingridientName]="ingredient.name"
        [ingridientImageUrl]="
          'https://spoonacular.com/cdn/ingredients_100x100/' + ingredient.image
        "
      ></app-ingridient>
    </div>
  </section>
  <!-- list of selected ingredients -->
  <section>
    <h2>Your ingredients:</h2>
    <div
      class="border border-green-500 p-2 rounded-3xl flex gap-2"
      *ngFor="let item of ingredientsList"
    >
      <p>-</p>
      <p class="inline">{{ item }}</p>
    </div>
    <!-- recipe list -->
    <section class="mb-4">
      <p>menu recommendations:</p>

      <div class="border border-green-500 p-2 rounded-3xl flex gap-2" *ngFor="let recipe of recipes">
        <a [routerLink]="['/details',recipe.id]">{{recipe.title }}</a>
      </div>

    </section>
    <button
      (click)="onSubmit()"
      class="bg-green-600 text-white rounded-3xl px-4 py-2 hover:bg-green-400"
    >
      search for recipes
    </button>
  </section>
</section>
